body {
  background: url('https://www.transparenttextures.com/patterns/dark-denim.png'), linear-gradient(135deg, #000000, #0d0d0d);
  background-size: cover;
  color: crimson;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family:"Bebas Neue", sans-serif;
}


